@extends('layouts.app_manage')
@section('content')
.row
  .col-lg-12
    .row
      ol.breadcrumb
        li
          a(href='#')
            svg.glyph.stroked.home
              use(xlink:href='#stroked-home')
        li 
          a(href="#") 關於睿軒
        
    @yield('content')
  .col-lg-12
    h1.page-header 關於睿軒
      .btn.btn-danger.pull-right(@click="save_website_info") 儲存更新

.row(v-if="lang")
  .col-lg-12
    .panel.panel-primary
      .panel-heading 頁面內容管理
      .panel-body
        .form-group
          label 內容
          tiny-mce(id = "about_section1_content" , v-model="lang.page_about.section_1.content",
          :other-props="mce_plugin",  :toolbar="mce_toolbar")
.row
  .col-lg-12
    .panel.panel-primary
      .panel-heading 年表管理
      .panel-body
        
        table.table.table-hover
          thead
            th 編號
            th 年份
            th 月份
            th 標題
            th 內容
            th 連結新聞
            th 更新時間
            th 編輯
            th 刪除
          tbody 
            @foreach ($yearlogs as $yearlog)
            tr
              td(style="width: 5%") {{$yearlog->id}}
              td(style="width: 7%") {{$yearlog->year}}
              td(style="width: 7%") {{$yearlog->date}}
              td(style="width: 20%") {{$yearlog->title}}
              td(style="width: 40%") {{$yearlog->content}}
              td(style="width: 10%") {{$yearlog->news_id}}
              td(style="width: 10%") {{$yearlog->updated_at}}
              td(style="width: 5%")
                a.btn.btn-default(href!="{{ url('/'.$lang.'/manage/about/'.($yearlog->id).'/edit') }}") 編輯
              td(style="width: 5%")
                button.btn.btn-danger.btn-md(onclick!="event.preventDefault();if(confirm('你確定要刪除此筆年表嗎？')){document.getElementById('delete_yearlog_{{$yearlog->id}}').submit();}") 刪除
                form(id!="delete_yearlog_{{$yearlog->id}}", action!="{{ url('/'.$lang.'/manage/about/'.$yearlog->id )}}", method='POST')
                  input(type='hidden', name='_method', value='delete')
                  input(type='hidden', name='_token', value='{{ csrf_token() }}')
            @endforeach
        a.btn.btn-primary(href="{{ url('/'.$lang.'/manage/about/create') }}") 新增年表
        br

@endsection
