@extends('layouts.app_manage')
@section('content')
.row
  
  .col-lg-12
    .row
      ol.breadcrumb
        li
          a(href='#')
            svg.glyph.stroked.home
              use(xlink:href='#stroked-home')
        li 
          a(href!=" {{url('manage/news')}} ")新聞管理
        li.active 新聞編輯-{!! isset($news)?$news->title:"" !!}
    @yield('content')
  .col-lg-12
    h1.page-header 新聞管理

form(action!="{{ (isset($news))?(url('manage/news/'.$news->id)):(url('manage/news/')) }}" method="post").row


  .col-sm-9
    .panel.panel-primary
      .panel-heading 編輯新聞
      .panel-body
        
          input(type='hidden', name='_method', value="{{ (isset($news))?'put':'post' }}")
          input(type='hidden', name='_token', value!='{{ csrf_token() }}')
          .form-group
            label(for='title') 標題
            input#title.form-control(name='title', value!='{!! isset($news)?$news->title:"" !!}')
          .form-group
            label(for='date') 日期
            input#date.form-control(name='date', value!='{!! isset($news)?$news->date:"" !!}')
          .form-group
            label(for='author') 作者或轉載來源
            input#author.form-control(name='author', value!='{!! isset($news)?$news->author:"" !!}')
          .form-group
            label(for='content') 內文
            div(class="btn btn-default btn-md btn-dropzone"  style='display:none;') 上傳圖片
            textarea#content.form-control(name='content', rows='10') {!! isset($news)?$news->content:'' !!}
  .col-sm-3
    .panel.panel-default
      .panel-heading 新聞設定
      .panel-body
        .form-group
          label(for='tag') 標籤
          select#tag.form-control(name='tag')
            option(value="重要通知" ) 重要通知
            option(value="活動快訊" ) 活動快訊
            option(value="投資相關" ) 投資相關
        //.form-group
          label(for='size') 顯示大小
          select#size.form-control(name='size')
            @if (isset($news))
              @if (($news->size)==1)
                option(value="1" selected) 1格 口
              @else
                option(value="1" ) 1格 口
              @endif
              @if (($news->size)==2)
                option(value="2" selected) 2格 口口
              @else
                option(value="2" ) 2格 口口
              @endif
            @else
              option(value="1" ) 1格 口
              option(value="2" ) 2格 口口
            @endif
        .form-group
          label(for='cover') 封面圖片
          .row
            .col-sm-12
              img.cover_preview(src!='{!! isset($news)?$news->cover:"" !!}', width='100%')
            .col-sm-12
              //- input#cover.form-control(name='cover', style='width: 80%; display: inline-block', value!='{!! isset($news)?$news->cover:"" !!}')
              br
              .btn.btn-default.btn-md.btn-dropzone-cover(style=' display: inline-block')
                | 上傳圖片
        hr
        .form-group
          button.btn.btn-danger.btn-md(type='submit') 儲存修改

  script.
    if (!window.data_storage){
      window.data_storage={};
    }
    window.require_js={};
    window.require_js.dropzone=true;
    window.require_js.tinymce=true;
  script.
    
@endsection

@section('require_js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.3/tinymce.min.js')
  
@endsection
@section('require_js_after')
  script.
    $("#tag").val("{{isset($news)?($news->tag):''}}");
@endsection

