@extends('layouts.app_manage')
@section('content')
.row
  .col-lg-12
    .row
      ol.breadcrumb
        li
          a(href='#')
            svg.glyph.stroked.home
              use(xlink:href='#stroked-home')
        li 
          a(href="#") 問題管理
        
    @yield('content')
  .col-lg-12
    h1.page-header 問題管理

.row
  .col-lg-12
    .panel.panel-primary
      .panel-heading 頁面敘述
      .panel-body
        tiny-mce(id = "tern_content" , v-model="lang.page_contact.section_1.content",
          :other-props="mce_plugin",  :toolbar="mce_toolbar")
        br
        .btn.btn-danger(@click="save_website_info") 儲存更新

  .col-lg-12
    .panel.panel-primary
      .panel-heading 問題管理 拖曳以排序
      .panel-body
        
        table.table.table-hover
          thead
            th
            th 編號
            th 問題
            th 回答
            //- th 置頂
            th 更新時間
            th 編輯
            th 刪除
          tbody
            
            tr(v-for="(qa,id) in questions" ,draggable="true",@dragover.prevent="dragover_question", @dragstart="dragstart_question(id)",@drop="drop_question(id,questions)")
              td 
                i.fa.fa-bars(style="cursor: all-scroll")
              td(style="width: 5%") @{{1+id}}
              td(style="width: 15%") @{{qa.question}}
              td(style="width: 50%") @{{qa.answer}}
              //- td(style="width: 5%") @{{qa.stick_top?'是':'否'}}
              td @{{qa.updated_at}}
              td(style="width: 5%")
                a.btn.btn-default(:href!="'manage/question/'+(qa.id)+'/edit'") 編輯
              td(style="width: 5%")

          .btn.btn-danger(@click="save_question") 儲存更新
                //- button.btn.btn-danger.btn-md(onclick!="event.preventDefault();if(confirm('你確定要刪除新聞嗎？')){document.getElementById('delete_question_{{qa.id}}').submit();}") 刪除
                //- form(id!='delete_question_{{qa.id}}', action!="{{url('manage/question/'.qa.id)}}", method='POST')
                //-   input(type='hidden', name='_method', value='delete')
                //-   input(type='hidden', name='_token', value='{{ csrf_token() }}')
         
        br
        a.btn.btn-primary(href!="{{ url('manage/question/create') }}") 新增問答
        br


@endsection
