@extends('layouts.app_manage')
@section('content')
.row
  
  .col-lg-12
    .row
      ol.breadcrumb
        li
          a(href='#')
            svg.glyph.stroked.home
              use(xlink:href='#stroked-home')
        li 
          a(href!=" {{url('manage/question')}} ")問題管理
        li.active 問題編輯-{!! isset($question)?$question->title:"" !!}
    @yield('content')
  .col-lg-12
    h1.page-header 問題管理

form(action!="{{ (isset($question))?(url('manage/question/'.$question->id)):(url('manage/question/')) }}" method="post").row


  .col-sm-9
    .panel.panel-primary
      .panel-heading 編輯問題-{{ (isset($question))?$question->id:'' }}
      .panel-body
        
          input(type='hidden', name='_method', value="{{ (isset($question))?'put':'post' }}")
          input(type='hidden', name='_token', value!='{{ csrf_token() }}')
          .form-group
            label(for='question') 問題
            input#question.form-control(name='question', value!='{!! isset($question)?$question->question  :"" !!}')
          .form-group
            label(for='answer') 回答
            textarea#answer.form-control(name='answer' rows="15") {!! isset($question)?$question->answer:"" !!}

  .col-sm-3
    .panel.panel-default
      .panel-heading 問題設定
      .panel-body
        .form-group
          label 首頁置頂
          br
          .btn-group
            label(for='stick_top')
              | 置頂
              input(type='radio', name='stick_top', value='1')
            label(for='stick_top')
              | 否
              input(type='radio', name='stick_top', value='0')

        .form-group
          button.btn.btn-danger.btn-md(type='submit') 儲存修改

  script.
    if (!window.data_storage){
      window.data_storage={};
    }
    window.require_js={};
    window.require_js.dropzone=true;
    window.require_js.tinymce=true;
  script.
    
@endsection

@section('require_js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.3/tinymce.min.js')
  
@endsection
@section('require_js_after')
  script.
    $("#tag").val("{{isset($question)?($question->tag):''}}");
@endsection

