@extends('layouts.app_manage')
@section('content')
.row
  .col-lg-12
    .row
      ol.breadcrumb
        li
          a(href='#')
            svg.glyph.stroked.home
              use(xlink:href='#stroked-home')
        li 
          a(href="#") 檢驗科技管理
        
    @yield('content')
  .col-lg-12
    h1.page-header 檢驗科技管理
      .btn.btn-danger.pull-right(@click="save_website_info") 儲存更新

.row(v-if="lang")
  .col-lg-4
    .panel.panel-primary
      .panel-heading 檢驗科技管理
      .panel-body
        table.table.table-primary
          thead
            th 編號
            th 標題
            th 區塊
            th 操作
          tbody
            tr(v-for='(tech_item,id) in lang.page_tech.techs')
              td @{{id+1}}
              td @{{tech_item.title}}
              td
                span(v-for= "(sec,sid) in tech_item.sections")
                  p @{{sid+1}} @{{sec.title}} 
              td 
                button.btn(@click="now_tech_id=id") 編輯
                button.btn.btn-danger(@click="lang.page_tech.techs.splice(id,1)") 刪除

              
        br
        a.btn.btn-primary(href!="{{ url('/'.$lang.'/manage/news/create') }}") 新增科技
        br
  .col-lg-8
    .panel.panel-default(v-for='(tech_item,id) in lang.page_tech.techs' , v-show="id==now_tech_id")
      .panel-heading 資料編輯-@{{id+1}} @{{tech_item.title}}
      .panel-body
        .form-group
          h4 標題
          input.form-control(v-model="tech_item.title")
        .form-group
          h4 描述
          tiny-mce(:id = "'tech_'+id+'_content'" , v-model="tech_item.description",
        :other-props="mce_plugin",  :toolbar="mce_toolbar")
        solution_selector(:part="tech_item")
        ul.nav.nav-tabs
          li.nav-item(v-for="(section,section_id) in tech_item.sections",
             @click="now_tech_section_id = section_id",
             :class="{active: now_tech_section_id == section_id}"
             ) 
            a.nav-link(:class="{active: now_tech_section_id == section_id}" style="cursor: pointer") @{{section_id+1}} @{{section.title}}
              i.fa.fa-trash(@click="tech_item.sections.splice(section_id,1)" style="margin-left: 10px") 
          li
            a(@click="tech_item.sections.push({});now_tech_section_id=tech_item.sections.length-1")  新增區塊
              i.fa.fa-plus
        div(v-for="(section,section_id) in tech_item.sections", v-show="section_id==now_tech_section_id").form-group
          .form-group
            hr
            h4 標題
            input.form-control(v-model="section.title")
            h4 內容
            tiny-mce(:id = "'tech_'+id+'_section_'+section_id+'_content'" , v-model="section.content",
        :other-props="mce_plugin",  :toolbar="mce_toolbar")
            h4 圖片
            carousel_editor(:carousel_data.sync="section.slides")
    .btn.btn-danger(@click="save_website_info") 儲存更新

@endsection
