@extends('layouts.app_manage')
@section('content')
.row
  .col-lg-12
    .row
      ol.breadcrumb
        li
          a(href='#')
            svg.glyph.stroked.home
              use(xlink:href='#stroked-home')
        li 
          a(href="#") 各項聲明
        
    @yield('content')
  .col-lg-12
    h1.page-header 各項聲明
      .btn.btn-danger.pull-right(@click="save_website_info") 儲存更新

.row(v-if="lang.zh")
  .col-lg-12
    .panel.panel-default
      .panel-heading 內容編輯
      .panel-body
        tiny-mce(id = "tern_content" , v-model="lang.zh.page_tern.section_1.content",
          :other-props="mce_plugin",  :toolbar="mce_toolbar")
    

@endsection
