@import "_variables"

//reset

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

body
  line-height: 1

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after,q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

//----



//----

*
  font-family: 'Noto Sans TC','微軟正黑體'
  background-size: cover
  background-position: center center
  box-sizing: border-box
  position: relative
  vertical-align: top


  // font-family: '新黑體 R'


//slick

.slick-track,.slick-list,.slick-slider
  height: 100%

ul.slick-dots
  bottom: 20px
  li
    margin: 0
    button
      &:before
        content: ""
        +size(10px,10px)
        border-radius: 50%
        background-color: rgba(white,0.8)


//tag size
h1
  +paragraph_size_leading(56px,83px,2px)
h2
  +paragraph_size_leading(34px,50px,2px)
h3
  +paragraph_size_leading(23px,36px,2px)
h4
  +paragraph_size_leading(21px,31px,2px)
h5
  +paragraph_size_leading(17px,28px,2px)
h6
  +paragraph_size_leading(16px,27px,2px)
p
  +paragraph_size_leading(16px,27px,3px)
  color: $color_grey
  font-weight: 300
  text-align: left !important



hr
  margin-top: grid_sz(0,3)
  border: solid 1px #aaa

body
  +paragraph_size_leading(16px,27px,3px)
  font-weight: 300

h1,h2,h3,h4,h5,h6
  color: $color_grey_dark
  font-weight: 400
  // min-width: 1600px

.color_theme
  color: $color_theme

.color_white
  color: #fff


.timeline
  width: 100%
  height: 4px
  background-color: #ddd
  position: absolute
  bottom: 0px
  z-index: 90
  .value
    width: 50%
    height: 100%
    background-color: #777

//----


section
  // min-height: 100vh
  background-size: cover
  background-position: 60% center
  .section_title
    margin-bottom: grid_sz(0,3)
    margin-top: grid_sz(0,-3)
    font-size: 26px
    +trans
    &.initial
      opacity: 0
  .section_para
    +trans(1s,0.2s)
    &.initial
      opacity: 0
  
  .slide_bg_set
    width: 100%
    height: 100%

//---

.container
  max-width: grid_sz(12,13)
  margin: auto
  width: 100%
  height: 100%


  &.flex
    display: flex
    flex-direction: row
    align-items: center

  &.center
    justify-content: center

  &.full
    max-width: initial

  &.column
    flex-direction: column

  &.row
    flex-direction: row

  .col_left,.col_right
    width: 50%
    padding: grid_sz(0,1,10px)
    text-align: center
    height: 100%
    +flex_center
    flex-direction: column
    p
      text-align: left
  .col_hero
    width: grid_sz(6,5)
    text-align: center

.bg_parallax
  background-size: auto 100%
.bg_parallax_about
  background-size: 100% auto
.cover_image
  background-color: $color_theme

//bootstrap setting
.btn
  border-radius: 2px
  letter-spacing: 2px
  // margin-top: $gutter_widt
  padding: 10px grid_sz(0,1)
  font-weight: 300
  font-size: 15px
  letter-spacing: 4px
  text-decoration: none !important
  cursor: pointer
  +trans

.btn-primary
  border: none
  background-color: $color_theme
  color: $color_white
  &:hover
    background-color: lighten($color_theme,15)
    color: $color_white

.btn-primary-lighter
  border: none
  background-color: lighten($color_theme,7)
  color: $color_white
  &:hover
    background-color:  lighten($color_theme,15)
    color: $color_white
    border-color:  lighten($color_theme,7)

.btn-transparent
  background-color: transparent
  border: solid 1px $color_white
  color: $color_white
  &:hover
    background-color: $color_white
    color: $color_theme
    border-color: $color_white

@mixin cover_opacity($color: black)
  display: block
  content: ""
  position: absolute
  +size(100%,100%)
  left: 0
  top: 0
  background-color: $color

//----------------

//用線分隔的導覽
.nav_line_split
  list-style: none
  padding: 0
  li
    display: inline-block
    padding: 0px $gutter_width
    // margin-bottom: $gutter_width*2
    border-right: solid 1px $color_theme
    cursor: pointer
    +trans
    &:hover
      color: $color_theme
    &:last-child
      border-right: none
    &.active
      color: $color_theme

a
  color: $color_theme

.default_bg
  background: url("../img/homepage/Home7.jpg") no-repeat 60% bottom
  &:before
    content: ""
    display: block
    width: 100%
    height: 100%
    position: absolute
    left: 0
    top: 0
    background-color: rgba(white,0.4)


//------------------
.carousel-inner.vertical
  height: 100%
  >
    .item
      -webkit-transition: .6s ease-in-out top
      -o-transition: .6s ease-in-out top
      transition: .6s ease-in-out top
    .active
      top: 0
    .next, .prev
      top: 0
      height: 100%
      width: auto
    .next
      left: 0
      top: 100%
    .prev
      left: 0
      top: -100%
    .next.left, .prev.right
      top: 0
    .active
      &.left
        left: 0
        top: -100%
      &.right
        left: 0
        top: 100%

@media all and (transform-3d), (-webkit-transform-3d)
  .carousel-inner.vertical > .item
    -webkit-transition: -webkit-transform .6s ease-in-out
    -o-transition: -o-transform .6s ease-in-out
    transition: transform .6s ease-in-out
    -webkit-backface-visibility: hidden
    backface-visibility: hidden
    -webkit-perspective: 1000
    perspective: 1000
    &.next, &.active.right
      top: 0
      -webkit-transform: translate3d(0, 100%, 0)
      transform: translate3d(0, 100%, 0)
    &.prev, &.active.left
      top: 0
      -webkit-transform: translate3d(0, -100%, 0)
      transform: translate3d(0, -100%, 0)
    &.next.left, &.prev.right, &.active
      top: 0
      -webkit-transform: translate3d(0, 0, 0)
      transform: translate3d(0, 0, 0)

//------------------------------------------------------






//nav
//--------------------------

nav
  $nav_height: grid_sz(0,3)
  width: 100%
  height: $nav_height
  position: fixed
  font-size: 17px
  +colors_bg_text(white,$color_grey_dark)
  padding-top: grid_sz(0,1)/2
  border-top: solid 3px $color_theme
  z-index: 200
  +trans

  *
    color: $color_grey
    text-decoration: none
    font-weight: 400

  .row
    display: flex

  //---
  .navbar-header
    width: grid_sz(3,2)
    img
      height: 50px
      +trans
  .navbar-left
    margin-left: grid_sz(0,1)
    width: grid_sz(7,6)

  .navbar-right
    width: grid_sz(2,2)
    display: flex
    justify-content: flex-end
    align-items: space-between

  .navbar-left,.navbar-right
    margin-top: grid_sz(0,1)/2
    +trans

  //---
  
  

  .navbar-nav li
    list-style: none
    display: inline-block
    margin-right: grid_sz(0,1)
    
    & a.router-link-active
      +colors_bg_text(transparent,$color_theme)
      border-bottom: solid 1px $color_theme
      &:hover
        color: $color_theme
        background-color: transparent

    & > a
      padding-bottom: 6px
      border-bottom: solid 1px transparent
      +trans


    & ul.subnav
      width: 100vw
      position: fixed
      +pos(0,$nav_height)
      opacity: 0
      overflow: hidden
      max-height: 0px
      height: 0px
      transition: 0.5s 0.2s, top 0.5s 0s
      text-align: center
      background-color: rgba($color_theme,0.9)
      li a
        color: $color_white

    &:hover
      a
        border-bottom: solid 1px $color_theme
      .subnav
        max-height: 200px
        height: grid_sz(0,3)
        opacity: 1
        z-index: 100      
        padding: grid_sz(0,1) 0px

  +range_width(0px,1080px)
    .navbar-nav
      .func_lang,.func_search
        display: none
    .row
      justify-content: space-between
    .nav-right
      justify-content: flex-end


  +range_width(0px,970px)
    .navbar-nav.navbar-left
      display: none
        
  //---- when at top of the page
  &.at_top
    $nav_height_at_top: grid_sz(0,5)
    height: $nav_height_at_top
    padding: grid_sz(0,1)

    .navbar-header
      width: grid_sz(3,2)
      img
        height: 65px

    .navbar-left,.navbar-right
      margin-top: grid_sz(0,1)
    

    .navbar-nav li
      & ul.subnav
        +pos(0,$nav_height_at_top)


.func_size
  padding-top: 3px
  .icon_big,.icon_small
    cursor: pointer
  .icon_big
    display: none
  &.bigger
    .icon_big
      display: block
    .icon_small
      display: none



// nav.navbar-default
//   $nav_height: grid_sz(1,0,10px) 
//   height: $nav_height
//   background-color: rgba(white,0.95)
//   border-bottom: none
//   border-top: solid 5px $color_theme
//   transition: 0.5s
//   font-size: 17px
//   color: $color_grey
//   padding-top: $gutter_width/2
//   a
//     padding: 0
//   i
//     font-style: normal
//     font-size: 18px
//     cursor: pointer
//   .logo
//     height: 50px
//     transition: 0.5s

//   .icon_text_size
//     background-color: $color_theme
//     border-radius: 50%
//     color: $color_white
//     font-size: 18px


//     +size(24px,24px)
//     position: relative
//     cursor: pointer
//     margin-top: 2px
//     vertical-align: middle
//     .text
//       +ab_center
//       transform: scale(0.8) translate(-50%,-60%)
//       user-select: none
//       span.plus
//         position: relative
//         transform: scale(0.4)
//         top: -1px

//   .navbar-nav
//     margin-left: -10px
    
//     padding-top: $gutter_width/2
//     transition: 0.5s

//     li 
//       padding: 0px 12px 8px 12px
//       transition: 0.5s
//       a
//         font-size: 17px
//         font-weight: 400
//         letter-spacing: 3px
//         padding: 0px 4px 4px 4px
//         padding-bottom: 8px
//         transition: 0.3s
//         color: $color_grey
//         &:hover
//           color: $color_theme
//           background-color: transparent

//       & .router-link-active
//         color: $color_theme
//         background-color: transparent
//         border-bottom: solid 1px $color_theme
//         &:hover
//           color: $color_theme
//           background-color: transparent
//   .navbar-header
//     width: grid_sz(3,2)

//   .navbar-left
//     @media screen and (max-width: 1200px)
//       display: none
//   .navbar-right
//     padding: 0
//     padding-top: $gutter_width/2
    
//     img
//       height: 20px

//   .nav_open 
//     margin-left: $gutter_width

//   //nav 再上方的狀態
//   &.at_top

//     background-color: transparent
//     padding-top: $gutter_width
//     border-top: solid 3px $color_theme
//     .navbar-nav > li
//       margin-top: -$gutter_width
//     .navbar-nav
//       padding-top: $gutter_width*2
//     .logo
//       height: 65px
//     .subnav
//       top: $gutter_width*5

//   &.bg_white
//     background-color: #fff

//   //語言選單
//   .lang_dropdown .dropdown-menu
//     background-color: transparent
//     border: none
//     box-shadow: none
//     min-width: 67px
//     li
//       margin-top: -$gutter_width

// .navbar-nav ul.subnav
//   width: 100vw
//   position: fixed
//   top: $nav_height
//   left: 0
//   background-color: rgba($color_theme,0.9)
//   color: white
//   opacity: 0
//   overflow: hidden
//   max-height: 0
//   transition: 0.5s 0.2s
//   padding: 0
//   text-align: center


//   li
//     padding: $gutter_width*0.8 15px
//     display: inline-block
//     margin-top: 0 
//     cursor: pointer
//     a
//       color: rgba(white,0.8)
//       // padding-bottom: 10px
//       text-decoration: none
//       &:hover
//         color: rgba(white,1)
//       &.router-link-active
//         color: rgba(white,1)
//         &:hover
//           color: rgba(white,1)


// li:hover
//   .subnav
//     max-height: 70px
//     opacity: 1

//---------------------------------------

.slide_bullet
  list-style: none
  position: fixed
  right: 40px
  top: 50%
  transform: translate(-50%,0px)
  z-index: 10
  li
    display: block
    +size(9px)
    border-color: $color_grey_light
    border-radius: 50%
    margin-bottom: 16px
    cursor: pointer
    +trans
    position: relative
    &:after
      content: ""
      display: block
      border-radius: 50%
      +ab_center
      +size(6px)
      background-color: darken($color_grey,9)
      transition-duration: 0.5s

    &:hover
      border-color: $color_theme
      &:after
        background-color: $color_theme
        +size(12px)
    &.active
      background-color: $color_theme
      &:after
        background-color: $color_theme
        +size(12px)
      

//----------------------------------------------
footer
  background-color: $color_theme
  color: $color_white
  height: 61px
  font-weight: 300

  .container
    margin-bottom: -10px
    +flex_split("lr")
    align-items: center
  .info
    display: inline-block
    margin: 0
    font-size: 14px
    opacity: 0.9
    letter-spacing: 2px
    width: grid_sz(6,5)

  ul.footer_nav
    display: block
    li
      display: inline-block
      letter-spacing: 3px
      // margin-left: 30px
      padding: 0px 15px
      border-right: solid 1px $color_white
      &:last-child
        border-right: none
    a
      color: $color_white
      text-decoration: none
      font-size: 17px


//-----------------------------------------------
section.section_solution
  background: url("../img/homepage/Home7.jpg") 60% bottom
  min-height: 100vh
  position: relative
  padding-top: grid_sz(0,2)
  padding-bottom: grid_sz(0,2)
  text-align: center
  .container.flex
    height: grid_sz(0,24)
    min-height: initial
    padding: 0px grid_sz(0,1)
    justify-content: center
  .slogan
    margin-top: grid_sz(0,1)
    margin-bottom: $gutter_width
    color: $color_grey_light
    font-weight: 400
  &:before
    +cover_opacity(rgba(white,0.6))
  h3.section_title
    margin-top: grid_sz(0,2)
    margin-bottom: grid_sz(0,2)
    color: $color_grey_dark
    font-size: 24px
  .solution_box_row
    margin-top: $gutter_width*1
    // margin-bottom: $gutter_width*3
    min-height: 500px

  .solution_box
    text-align: center
    width: grid_sz(4,3)
    cursor: pointer
    +trans

    &:nth-child(2n)
      margin-left: $gutter_width
      margin-right: $gutter_width

    & .box_inner
      display: block
      position: relative
      +box_shadow  
      +trans
      height: grid_sz(0,19)
      overflow: hidden
      cursor: pointer

      .box_info
        margin-top: grid_sz(0,3)
      .box_btn
        margin-bottom: grid_sz(0,3)

      .box_text
        +flex_split("td")
        +ab_full
        z-index: 10

      &:after,&:before
        +pseudo_ab_full

      &:after
        background-color: rgba(0,0,0,0.4)
        // opacity: 0
        +trans

      &:hover
        height: grid_sz(0,24)
        background-color: transparent
        color: #333

        .box_info
          h4.solution_title
            color: $color_grey_dark
            &:after
              border-bottom: solid 2px  $color_grey_dark
        .btn
          opacity: 1

        &:after
          opacity: 0

      h4
        color: $color_white

      h4.solution_title
        line-height: 2em
        color: $color_white
        +trans
        font-weight: 400
        
        &:after
          content: ""
          display: block
          width: grid_sz(1,0)
          margin: auto
          margin-top: grid_sz(0,2)
          +trans
          border-bottom: solid 2px $color_white
          

        

    .btn
      margin-bottom: $gutter_width*2
      +trans
      opacity: 0
      cursor: pointer

    &:nth-child(1) .box_inner:before
      background-image: url("../img/homepage/Home8-1.jpg")
      background-position: 60% bottom
      background-size: 105% auto
      

    &:nth-child(2) .box_inner:before
      background-image: url("../img/homepage/Home8-2.jpg")
      background-position: 60% bottom
      background-size: 105% auto


    &:nth-child(3) .box_inner:before
      background-image: url("../img/homepage/Home8-3.jpg")
      background-position: 60% bottom
      background-size: 105% auto


  .row_else
    padding: $gutter_width*1
    padding-bottom: $gutter_width*2


//----------------------------------------------
.detail_footer
  min-height: initial
  padding: $gutter_width*3 0px
  padding-bottom: $gutter_width*2
  .container
    align-items: flex-start

  .col_address
    width: grid_sz(4,3)

  .col_question
    width: grid_sz(5,4)
    margin-left: grid_sz(0,1)
    margin-right: grid_sz(0,1)
  .col_corp
    width: grid_sz(3,2)

  .col_address,.col_question,.col_corp
    color: $color_grey_light

  h5
    font-size: 18px
    color: $color_grey_dark
    height: grid_sz(0,2)

  //--------

  hr
    border: none
    border: solid 1px #ddd
    margin-top: grid_sz(0,1)
    
  .social_icon
    width: 30px
    margin-right: 10px
    vertical-align: middle
    &.fb
      width: 20px
  .more
    border-bottom: solid 2px $color_theme
    padding-bottom: 3px
    cursor: pointer
    &:hover
      color: $color_theme
      text-decoration: none


  .icon
    +size(18px)
    // background-color: darken($color_white,15)
    border-radius: 2px
    position: relative
    display: inline-block
    position: absolute
    left: -26px
    top: 5px
    opacity: 0.7
    cursor: pointer
    transition: 0.5s
    
    &:hover
      background-color: $color_theme
      &:before,&:after
        background-color: $color_white

    &:before,&:after 
      // transform-origin: center center
      transition: 0.5s
      display: block
      content: ""
      width: 10px
      height: 2px
      background-color: $color_theme

      +ab_center
    &.icon_plus

      &:before
        transform: translate(-50%,-50%) rotate(-90deg) 
      &:after
        transform: translate(-50%,-50%) rotate(180deg) 

  .col_address
    p
      font-size: 16px
    hr
      border-bottom: solid 1px #aaa
  .question_list
    position: relative

    &
      list-style: none
      padding-left: $gutter_width*1.5

    li
      margin-bottom: $gutter_width
      position: relative
      
      &.open
        .answer
          max-height: 150px
          margin-top: $gutter_width/2
    
    .question
      color: $color_grey_light
      font-size: 16px
      font-weight: 400
      letter-spacing: 1px
      cursor: pointer
    .answer
      color: $color_theme
      font-weight: 400
      margin-top: 0
      max-height: 0px
      overflow: hidden
      +trans

      // max-height: 0px
      // overflow: hidden
    
    input[type=checkbox]:checked+.answer
      .answer
        display: block
        max-height: 50px

  .company_icon
    width: 33%
    display: block
    margin-bottom: 10px
    margin-left: auto
    margin-right: auto

    
  .go_to_topbtn
    position: fixed
    background-color: $color_theme
    +size(40px,40px)
    cursor: pointer

    border-radius: 50%
    bottom: 65px
    right: 65px

    i
      +ab_center
      color: $color_white
      font-size: 25px


//-------------------------
.fade-enter-active,.fade-leave-active
  transition: opacity .5s

.fade-enter,.fade-leave-to
  opacity: 0
.fade-enter-to,.fade-leave
  opacity: 1
  

