//共用模組css

@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css)
@import url(//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css)
@import url(//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css)

//reset

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  // font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

body
  line-height: 1

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after,q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

//----

a
  text-decoration: none
  &:hover
  

//----

*
  font-family: "Lato", 'Noto Sans TC','微軟正黑體'
  background-size: cover
  background-position: center center
  box-sizing: border-box
  position: relative
  vertical-align: top
  background-repeat: no-repeat
  font-weight: 400
  flex-shrink: 1


  // font-family: '新黑體 R'


//slick

.slick-track,.slick-list,.slick-slider
  height: 100%

.slick-dotted.slick-slider
  margin: 0  

.slick-slide:focus
  outline: none
  
.fa.fa-angle-left,.fa.fa-angle-right
  +ab_center
  z-index: 105
  color: white
  font-size: grid_sz(0,1.2)
  top: calc(50% - #{grid_sz(0,1)/2}) 
  cursor: pointer
.fa.fa-angle-left
  left: 50px
.fa.fa-angle-right
  left: initial
  right: 50px


ul.slick-dots
  bottom: 20px
  li
    margin: 0
    padding: 0px 13px
    button
      &:before
        +trans
        content: ""
        +size(8px)
        border-radius: 50%
        background-color: rgba(white,0.8)
        border: solid 1px rgba(white,1)


//tag size
h1
  +paragraph_size_leading(48px,83px,2px)
h2
  +paragraph_size_leading(34px,50px,2px)
h3
  +paragraph_size_leading(26px,36px,2px)
h4
  +paragraph_size_leading(21px,31px,2px)
h5
  +paragraph_size_leading(17px,28px,2px)
h6
  +paragraph_size_leading(16px,27px,2px)
p
  +paragraph_size_leading(16px,27px,3px)
  color: $color_grey
  text-align: justify !important
  transition: 0s


+range_width(0px,800px)
  h1
    +paragraph_size_leading(36px,76px,2px)
  h2
    +paragraph_size_leading(30px,45px,2px)
  h3
    +paragraph_size_leading(24px,36px,2px)
  h4
    +paragraph_size_leading(20px,32px,2px)
  p
    +paragraph_size_leading(16px,27px,3px)
    color: $color_grey
    text-align: justify !important
    transition: 0s
  
hr
  margin-top: grid_sz(0,2)
  margin-bottom: grid_sz(0,2)
  width: 100%
  border: none
  border-bottom: solid 1px #eee
  

body
  +paragraph_size_leading(16px,27px,3px)

  font-weight: 400

html,body
  // min-width: 1280px
  // min-height: 900px
  width: 100%
  overflow-x: hidden

.big_font
  &,p,.question_list
    +paragraph_size_leading(18px,32px,3px)
  

h1,h2,h3,h4,h5,h6
  color: $color_grey_dark
  font-weight: 300
  // min-width: 1600px
h3,h4,h5,h6
  font-weight: 400

.color_theme
  color: $color_theme

.color_white
  color: #fff


.timeline
  width: 100%
  height: 2px
  background-color: #ddd
  position: absolute
  bottom: 0px
  z-index: 90
  .value
    width: 50%
    height: 100%
    background-color: #888

//----


section
  // min-height: 100vh
  background-size: cover
  background-position: 60% center
  .section_title
    margin-bottom: grid_sz(0,3)
    margin-top: grid_sz(0,-3)
    +trans
    &.initial
      opacity: 0
  h1.section_title
    font-size: 42px

  .section_para
    +trans(1s,0.2s)
    width: 100%

    &.initial
      opacity: 0
  
  .slide_bg_set
    width: 100%
    height: 100%



//---

.container
  max-width: grid_sz(12,13)
  margin: auto
  width: 100%
  height: 100%

  &.flex
    display: flex
    flex: 1 1 0%
    min-width: 0
    flex-direction: row
    align-items: center

    +range_width(0px,800px)
      height: auto

  &.center
    flex-direction: column
    justify-content: center

  &.wrap
    flex-wrap: wrap

  &.full
    max-width: initial

  &.column
    flex-direction: column

  &.row
    flex-direction: row

  &.top_out
    background-color: $color_white
    margin-top: grid_sz(0,-3)
    +grid_sz_mx(12,15)
    padding: grid_sz(0,1)
    flex-wrap: wrap
    padding-top: grid_sz(0,3)
    align-items: flex-start

  .col_left,.col_right
    width: 50%
    padding: grid_sz(0,1)
    text-align: center
    height: 100%
    +flex_center
    flex-direction: column
    p
      text-align: left

    &>p,h1,h2,h3,h4,h5,h6
      max-width: 100%
      width: 100%

  .col_full
    width: 100%
    padding: grid_sz(0,1)

    &>p,h1,h2,h3,h4,h5,h6
      max-width: 100%
      width: 100%


  +rwd_sm
    &.flex
      flex-direction: column
    .col_left , .col_right
      width: 100%
      min-height: 50vh 
  .col_hero
    width: grid_sz(6,5)
    text-align: center

    +range_width(0px,800px)
      width: 100%
      padding-left: grid_sz(0,1)
      padding-right: grid_sz(0,1)


.bg_parallax
  background-size: auto 100%
  // -webkit-backface-visibility: hidden
  background-attachment: fixed
  &.no_attach
    background-attachment: initial
  +rwd_sm
    background-attachment: initial

    

.bg_parallax_about
  background-size: 100% auto
.cover_image
  background-color: $color_theme

//----------

.btn
  border-radius: 2px
  letter-spacing: 2px
  padding: 10px grid_sz(0,1)
  font-weight: 300
  font-size: 15px
  letter-spacing: 4px
  text-decoration: none !important
  cursor: pointer
  display: inline-block

  +trans

.btn-primary
  border: none
  background-color: $color_theme
  color: $color_white
  &:hover
    background-color: lighten($color_theme,15)
    color: $color_white

.btn-primary-lighter
  border: none
  background-color: lighten($color_theme,7)
  color: $color_white
  &:hover
    background-color:  lighten($color_theme,15)
    color: $color_white
    border-color:  lighten($color_theme,7)

.btn-transparent
  background-color: transparent
  border: solid 1px $color_white
  color: $color_white
  &:hover
    background-color: $color_white
    color: $color_theme
    border-color: $color_white


@for $i from 1 through 12
  +range_width(0px,$break_lg)
    .flex_lg_#{$i}
      width: calc( $i * 100% / 12)

  +range_width(0px,$break_md)
    .flex_md_#{$i}
      width: calc( $i * 100% / 12)

  +range_width(0px,$break_sm)    
    .flex_sm_#{$i}
      width: calc( $i * 100% / 12)

  @for $o from 1 through 12
    .flex_md_#{$i}_sm_#{$o}
      +range_width(0px,$break_md)
        width: calc( $i * 100% / 12)
      +range_width(0px,$break_sm)    
        width: calc( $o * 100% / 12)


//----------------
// canvas

canvas.wave
  position: absolute
  bottom: 0px
  left: 0px
  width: 100%



//----------------

//用線分隔的導覽
.nav_line_split
  list-style: none
  padding: 0
  li
    display: inline-block
    padding: 0px $gutter_width
    // margin-bottom: $gutter_width*2
    border-right: solid 1px $color_theme
    cursor: pointer
    +trans
    &:hover
      color: $color_theme
    &:last-child
      border-right: none
    &.active
      color: $color_theme

a
  color: $color_theme

.default_bg
  background-image: url("../img/homepage/Home7.jpg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center center

  &:before
    content: ""
    display: block
    width: 100%
    height: 100%
    position: absolute
    left: 0
    top: 0
    background-color: rgba(white,0.4)

.slide_bullet
  list-style: none
  position: fixed
  right: 40px
  top: 50%
  transform: translate(-50%,0px)
  z-index: 500
  li
    display: block
    +size(9px)
    border-color: $color_grey_light
    border-radius: 50%
    margin-bottom: 16px
    cursor: pointer
    +trans
    position: relative
    &:after
      content: ""
      display: block
      border-radius: 50%
      +ab_center
      +size(6px)
      background-color: darken($color_grey,9)
      +trans

    &:hover
      border-color: $color_theme
      &:after
        background-color: $color_theme
        +size(12px)
    &.active
      background-color: $color_theme
      &:after
        background-color: $color_theme
        +size(12px)
  +range_width(0px,800px)
     display: none

//----------------------------------------------
footer
  background-color: $color_theme
  color: $color_white
  height: 61px
  font-weight: 300


  .info
    display: inline-block
    margin: 0
    font-size: 14px
    opacity: 0.9
    letter-spacing: 2px
    width: grid_sz(6,5)

  ul.footer_nav
    display: block
    li
      display: inline-block
      letter-spacing: 3px
      
      padding: 0px 15px
      border-right: solid 1px $color_white
      a
        +trans
      &:hover a
        color: $color_white
      &:last-child
        border-right: none

    a
      color: rgba($color_white,0.7)
      text-decoration: none
      font-size: 17px


  +rwd_md
    height: auto
    padding:
      top: grid_sz(0,0.8)
      bottom: grid_sz(0,0.8)

  .container.flex
    +flex_split("lr")
    align-items: center


    

    +range_width(0px,930px)
      flex-direction: column
      padding: grid_sz(0,1) 0px
      .info
        margin-bottom: grid_sz(0,1)

    +range_width(0px,600px)
      .info
        margin-bottom: 0px

    +rwd_md
      ul.footer_nav
        display: none
      .info
        width: 100%
        text-align: center


  

//-----------------------------------------------
section.section_solution
  background: url("../img/homepage/Home7.jpg") 60% bottom
  background-size: cover
  min-height: 100vh
  position: relative
  padding-top: grid_sz(0,2)
  padding-bottom: grid_sz(0,2)
  text-align: center

  .container.flex
    min-height: grid_sz(0,24)
    height: auto
    padding: 0px grid_sz(0,1)
    justify-content: center
  .slogan
    margin-top: grid_sz(0,1)
    margin-bottom: $gutter_width
    color: $color_grey_light
    font-weight: 400
  &:before
    +cover_opacity(rgba(white,0.6))

  h3.section_title
    margin-top: grid_sz(0,2)
    margin-bottom: grid_sz(0,2)
    color: $color_grey_dark
    font-size: 24px
  .solution_box_row
    margin-top: $gutter_width*1
    // margin-bottom: $gutter_width*3
    min-height: 500px

  .solution_box
    text-align: center
    width: grid_sz(4,3)
    cursor: pointer
    background-repeat: no-repeat
    +trans
    +range_width(0px,800px)
      margin-bottom: grid_sz(0,1)
      width: 100%

    &:nth-child(2n)
      margin-left: $gutter_width
      margin-right: $gutter_width

    & .box_inner
      display: block
      position: relative
      +box_shadow  
      +trans
      height: grid_sz(0,19)
      overflow: hidden
      cursor: pointer
      

      .box_info
        margin-top: grid_sz(0,3)
      .box_btn
        margin-bottom: grid_sz(0,3)

      .box_text
        +flex_split("td")
        +ab_full
        z-index: 10

      &:after,&:before
        +pseudo_ab_full

      &:after
        background-color: rgba(0,0,0,0.4)
        // opacity: 0
        +trans

      &:hover,&:focus
        height: grid_sz(0,24)
        background-color: transparent
        color: #333

        .box_info
          h4.solution_title
            color: $color_grey_dark
            &:after
              border-bottom: solid 2px  $color_grey_dark
        .btn
          opacity: 1

        &:after
          opacity: 0

      h4
        color: $color_white

      h4.solution_title
        line-height: 2em
        color: $color_white
        +trans
        font-weight: 400
        
        &:after
          content: ""
          display: block
          width: grid_sz(1,0)
          margin: auto
          margin-top: grid_sz(0,2)
          +trans
          border-bottom: solid 2px $color_white
          

        

    .btn
      margin-bottom: $gutter_width*2
      +trans
      opacity: 0
      cursor: pointer

    &:nth-child(1) .box_inner:before
      background-image: url("../img/homepage/Home8-1.jpg")
      background-position: 60% bottom
      background-size: 105% auto
      background-repeat: no-repeat
      background-color: white
      

    &:nth-child(2) .box_inner:before
      background-image: url("../img/homepage/Home8-2.jpg")
      background-position: 60% bottom
      background-size: 105% auto
      background-repeat: no-repeat
      background-color: white


    &:nth-child(3) .box_inner:before
      background-image: url("../img/homepage/Home8-3.jpg")
      background-position: 60% bottom
      background-size: 105% auto
      background-repeat: no-repeat
      background-color: white


  .row_else
    padding: $gutter_width*1
    padding-bottom: $gutter_width*2



//有三個區塊的footer
//----------------------------------------------
.detail_footer
  min-height: initial
  padding: $gutter_width*3 0px
  padding-bottom: $gutter_width*2

  .container
    align-items: flex-start
    +rwd_md
      padding-left: grid_sz(0,1)
      padding-right: grid_sz(0,1)

    +rwd_sm
      flex-direction: column
    

  .col_address
    width: grid_sz(4,3)
    padding-left: grid_sz(0,1)
    p
      letter-spacing: 2px

  .col_question
    width: grid_sz(5,4)
    margin-left: grid_sz(0,1)
    margin-right: grid_sz(0,1)
  .col_corp
    width: grid_sz(3,2)

    .item
    .company_icon
      width: grid_sz(1,1)
      margin: grid_sz(0.1)
      margin-left: auto
      margin-right: auto


  .col_address,.col_question,.col_corp
    color: $color_grey_light
    


  h5
    font-size: 20px
    color: $color_grey_dark
    // height: grid_sz(0,2)
    margin-bottom: grid_sz(0,2)

  //--------

  hr
    border: none
    border: solid 1px #ddd
    margin-top: grid_sz(0,1)
    margin-bottom: grid_sz(0,1)
    
  .social_icon
    width: 20px
    margin-right: 10px
    vertical-align: middle
    display: inline-block
    font-size: 20px
    cursor: pointer
    color: $color_grey_dark
    +trans
    &:hover
      color: $color_theme
    &.fb
      width: 20px
  .more
    border-bottom: solid 2px $color_theme
    padding-bottom: 3px
    cursor: pointer
    &:hover
      color: $color_theme
      text-decoration: none


  .icon
    +size(18px)
    // background-color: darken($color_white,15)
    border-radius: 2px
    position: relative
    display: inline-block
    position: absolute
    left: -26px
    top: 5px
    opacity: 0.7
    cursor: pointer
    +trans
    
    &:hover
      background-color: $color_theme
      &:before,&:after
        background-color: $color_white

    &:before,&:after 
      // transform-origin: center center
      +trans
      display: block
      content: ""
      width: 10px
      height: 2px
      background-color: $color_theme

      +ab_center
    &.icon_plus

      &:before
        transform: translate(-50%,-50%) rotate(-90deg) 
      &:after
        transform: translate(-50%,-50%) rotate(180deg) 

  .col_address
    p
      font-size: 16px
    hr
      border-bottom: solid 1px #aaa
  .question_list
    position: relative

    &
      list-style: none
      padding-left: $gutter_width*1.5

    li
      margin-bottom: $gutter_width
      position: relative
      
      &.open
        .answer
          max-height: 250px
          margin-top: $gutter_width/2
    
    .question
      color: $color_grey_light
      // font-size: 16px
      font-weight: 400
      letter-spacing: 1px
      cursor: pointer
    .answer
      color: $color_theme
      font-weight: 400
      margin-top: 0
      max-height: 0px
      overflow: hidden
      +trans

      // max-height: 0px
      // overflow: hidden
    
    input[type=checkbox]:checked+.answer
      .answer
        display: block
        max-height: 50px

  .company_icon
    width: 33%
    display: block
    margin-bottom: 10px
    margin-left: auto
    margin-right: auto

    
  .go_to_topbtn
    position: fixed
    background-color: $color_theme
    +size(40px,40px)
    cursor: pointer

    border-radius: 50%
    bottom: 65px
    right: 65px
    opacity: 1
    +trans

    i
      +ab_center
      color: $color_white
      font-size: 25px

    &.at_top 
      opacity: 0


  +rwd_md
    .col_address
      padding-left: 0px
    .col_address,.col_question,.col_corp
      width: 100%
      height: auto
      margin: 0
      margin-bottom: grid_sz(0,2)
    .go_to_topbtn
      bottom: grid_sz(0,1)
      right: grid_sz(0,1)

//-------------------------
.fade-enter-active,.fade-leave-active
  transition: opacity .5s

.fade-enter,.fade-leave-to
  opacity: 0
.fade-enter-to,.fade-leave
  opacity: 1

.fade-delay-enter-active
  transition: opacity .5s .5s
.fade-delay-leave-active
  transition: opacity .5s

.fade-delay-enter,.fade-delay-leave-to
  opacity: 0
.fade-delay-enter-to,.fade-delay-leave
  opacity: 1

