@import "common";
.page_post
  *
    // border: solid 1px

  section
    min-height: 0px
    .section_title
      // padding-top: $gutter_width*4
      margin-top: 0
      margin-bottom: $gutter_width*2
      font-weight: normal
      font-size: 44px
      opacity: 0.8

  nav.navbar-default.at_top
    background-color: #FFF


    

  .section_hero
    min-height: 60vh
    display: flex
    align-items: center
    justify-content: center
    padding-top: $column_width*1.5+$nav_height
    background: url("../img/homepage/Post1.jpg")
    // background-attachment: fixed。
    background-size: cover
    background-position: center center
    padding-bottom: 20vh
    &,h1
      color: $color_white
    h1
      margin-bottom: $gutter_width*4

  h1.section_title
    margin-top: $gutter_width*1.5
    line-height: 1.4em
    padding-bottom: 0px
    // margin-bottom: $gutter_width*1.5

  .section_post
    background-position: center bottom
    position: relative
    // &:before
    //   content: ""
    //   display: block
    //   +size(100%,$gutter_width*3)
    //   background-color: $color_white
    //   position: absolute
    //   top: -$gutter_width*3
    //   left: 0
    //   z-index: 10
    .container
      background-color: white
      // position: absolute
      // top: -$gutter_width*3
      // z-index: 10
      // left: 50%
      // transform: translateX(-50%)
      margin-top: -$gutter_width*3
      padding-top: $gutter_width*3
      padding-bottom: $gutter_width*3
    .share
      margin-top: $gutter_width*2
    .tag
      +bg_theme
      color: $color_white
      display: inline-block
      font-size: 18px
      letter-spacing: 4px
      padding: $gutter_width/4 $gutter_width/1.2
      font-weight: 300
    .section_title
      font-weight: 300
      font-size: 48px
      margin-bottom: 5px
    hr
      margin-top: $gutter_width*4
      margin-bottom: $gutter_width*4
    p
      font-weight: normal
    .date
      margin-top: 0px
      opacity: 0.7
      margin-bottom: $gutter_width*2
    .post_box

    .post_block_btn
      padding: $gutter_width*3
    .logos
      margin-left: $gutter_width/2
      display: inline-block
    .logo
      margin-left: $gutter_width/2
      cursor: pointer
      width: 30px

  .page_nav_btn
    margin-top: $gutter_width*3
    font-size: 30px
    border: solid 1px
    cursor: pointer
    position: relative

    // background-image: url("../img/homepage/Post2.jpg")

  .block_50_percent[data-image="1"]
    background-image: url("../img/homepage/Post2.jpg")

  footer
    margin-top: 80vh