.page_tech
  opacity: 1
  *
    // border: solid 1px

  section
    min-height: 0px
    position: relative

  .section_title
    margin-top: 0px

  section.section_hero
    min-height: 100vh
    padding-bottom: grid_sz(0,3)
    hr
      margin: grid_sz(0,3) 0px
      width: $column_width
      margin-left: auto
      margin-right: auto
    .conpany_logos
      display: flex
      align-items: center
      justify-content: space-around
    .company_logo
      mix-blend-mode: multiply
      width: $gutter_width*8

    .section_title
      color: $color_grey
      font-weight: 300
      // font-size: 44px
      opacity: 0.8
      letter-spacing: 10px
      margin-top: grid_sz(0,12)
      +rwd_sm
        margin-top: grid_sz(0,7)

    .col_hero
      h1,p
        margin-left: auto
        margin-right: auto
    .container
      display: flex
      flex-direction: column
      align-items: center
      

  .block_50_percent
    height: 100%
    width: 50%
    display: inline-block
    float: left
    background-color: transparent

    +range_width(0px,800px)
      width: 100%
      height: 400px

    &[data-image="1"]
      background-image: url("../img/homepage/Tech2.jpg")
    &[data-image="3"]
      background-image: url("../img/homepage/Tech4.jpg")

  .bg_color_split
    font-size: 0
    padding: 0

  .bg_theme


  .section_tech
    // padding: 4*$gutter_width 0px
    background-attachment: auto 100%
    color: $color_grey

    .section_title
      margin-bottom: grid_sz(0,2)
      margin-top: grid_sz(0,0)
      +rwd_md
        margin-top: grid_sz(0,1)

    .col_content
      padding-bottom: grid_sz(0,4)

    .col_right,.col_left
      padding-left: grid_sz(1,1)
      padding-right: grid_sz(1,1)
      margin-top: grid_sz(0,4)

      +range_width(0px,800px)
        padding-left: grid_sz(0,1)
        padding-right: grid_sz(0,1)


    .dynamic_icon
      margin-bottom: $gutter_width*2
      +size(56px,auto)
      // background-color: $color_theme
    
      @keyframes b_fade
        0%
          transform: translate(-6px,6px) scale(0.8)
          opacity: 0
        50%
          opacity: 1
          
        100%
          transform: translate(4px,-4px) scale(1)
          opacity: 0

      [data-name^="tube_bubble_"]
        opacity: 0
        animation: b_fade 1.5s infinite
        transform-origin: center center
        &:nth-child(1)
          animation-delay: 0s
        &:nth-child(2)
          animation-delay: -0.3s
        &:nth-child(3)
          animation-delay: -0.7s

      @keyframes w_fade
        0%
          transform: translate(-2px,-2px) scale(0.8)
          opacity: 0
        50%
          opacity: 1
          
        100%
          transform: translate(-6px,-6px) scale(1)
          opacity: 0

      @keyframes cloud_float
        0%
          transform: translate(0px,0px)
        50%
          transform: translate(0px,-4px)
        100%
          transform: translate(0px,0px)

      
      [data-name^="cloud_wave"]
        opacity: 0
        animation: w_fade 2s infinite
        transform-origin: right bottom
        &:nth-child(1)
          animation-delay: -0.5s
        &:nth-child(2)
          animation-delay: -1.2s

      [data-name="cloud"]
        animation: cloud_float 5s infinite
        transform-origin: right bottom
        

      @keyframes num_fade
        0%
          opacity: 0
        5%
          opacity: 1
        15%
          opacity: 1
        20%
          opacity: 0
          
        100%
          opacity: 0

      @keyframes dash_fade
        0%
          opacity: 0
        15%
          opacity: 1
        85%
          opacity: 1
        100%
          opacity: 0

      @keyframes ok_fade
        0%
          opacity: 0
        15%
          opacity: 0
        75%
          opacity: 0
          transform: scale(1)
        80%
          opacity: 1
          transform: scale(1.1)
        95%
          opacity: 1
          transform: scale(1.1)
        100%
          opacity: 0
          transform: scale(1)

      @keyframes arrow_fade
        0%
          opacity: 1
        15%
          opacity: 1
        75%
          opacity: 1
        80%
          opacity: 0
        95%
          opacity: 0
        100%
          opacity: 1

      [data-name^="ok_bg"],[data-name^="ok_mark"]
        animation: ok_fade 7s infinite
        transform-origin: center center
        transform: scale(1.1)

      [data-name="ok_arrow_pointer"]
        animation: arrow_fade 7s infinite
        transform-origin: right bottom


      [data-name^="ok_num"]
        opacity: 0
        animation: num_fade 7s infinite
        transform-origin: right bottom

      [data-name^="ok_arrow_dash"]
        opacity: 0
        animation: dash_fade 7s infinite
        transform-origin: right bottom

      @for $i from 1 through 5
        [data-name="ok_num_#{$i}"]
          animation-delay: #{5-$i}s

      @for $i from 1 through 6
        [data-name="ok_arrow_dash_#{$i}"]
          animation-delay: #{($i)/2}s

      

    .inner
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
    .btn
      margin-top: $gutter_width*3
    &[data-img="2"]
      background-image: url("")

  .section_manhead
    background-color: #F4F5F7
    +rwd_sm
      min-height: 100vh
      .block_50_percent
        height: 50%
    
  .man_head_ab
    position: absolute
    bottom: 0
    height: calc( 100% + 70px)

